# LE STRUTTURE E TIPI DI DATI IN PYTHON

In questa esercitazione vengono mostrati le principali strutture e i tipi di dati in Python.

## I TIPI DI DATI

I tipi di dati servono per definire dei valori che una variabile può assumere e per definire le operazioni che quella variabile può fare.
I tipi di dati possono essere semplici oppure non semplici, cioè le sequenze.

### I TIPI DI DATI SEMPLICI

I tipi di dati semplici sono i tipi di dati fondamentali per lo sviluppo di Python, come per qualsiasi linguaggio di programmazione.

I tipi di dati semplici sono:
- Gli integer (int)
- I float (float)
- I boolean (bool)
- I complex (complex)
- I long (long)
- I char (chr)

#### GLI INTEGER

Gli integer (int) definiscono i valori di variabili corrispondenti a dei numeri interi (solo a numeri interi, non a numeri decimali). Con gli integer si possono eseguire operazioni aritmetiche di base come la somma, la differenza, il prodotto, la divisione, la potenza

In [1]:
a = 1 # Valore integer 
print(a)
print("Il tipo di dato infatti è:")
print(type(a)) # attravero il comando type è possibile sapere il tipo di dato in Python

1
Il tipo di dato infatti è:
<class 'int'>

##### ESEMPIO: SOMMA

Questo codice è un esempio di somma di due numeri interi (due variabili con valori integer)

In [2]:
a = 1 # primo integer
b = 6 # secondo integer
c = a + b
print(f"La somma di {a} e {b} è:")
print(c)
print("Il tipo di dato infatti è")
print(type(c)) # con type posso sapere il tipo di dato

La somma di 1 e 6 è:
7
Il tipo di dato infatti è
<class 'int'>

##### ESEMPIO: DIFFERENZA

Questo codice è un esempio di differenza di due numeri interi (due variabili con valori integer)

In [3]:
a = 7 # primo integer
b = 2 # secondo integer
c = a - b
print(f"La differenza di {a} e {b} è:")
print(c)
print("Il tipo di dato infatti è")
print(type(c))

La differenza di 7 e 2 è:
5
Il tipo di dato infatti è
<class 'int'>

##### ESEMPIO: DIVISIONE

Questo codice è un esempio di divisione di due numeri interi (due variabili con valori integer)

In [322]:
a = 10 # il primo valore è integer
b = 2 # il secondo valore è integer
c = a / b # Esegue la divisione normale (ritorna sempre un float)
d = a // b # Esegue la divisione ritornando solo la parte intera (ritorna sempre un int), si usano le due barre anzichè una barra sola
print(f"La divisione normale di {a} e {b} è:")
print(c)
print("Il tipo di dato della divisione normale infatti è:")
print(type(c))
print(f"La divisione con solo la parte intera di {a} e {b} è:")
print(d)
print("Il tipo di dato della divisione con solo la parte intera infatti è:")
print(type(d))

La divisione normale di 10 e 2 è:
5.0
Il tipo di dato della divisione normale infatti è:
<class 'float'>
La divisione con solo la parte intera di 10 e 2 è:
5
Il tipo di dato della divisione con solo la parte intera infatti è:
<class 'int'>

##### ESEMPIO: MOLTIPLICAZIONE

Questo codice è un esempio di prodotto di due numeri interi (due variabili con valori integer)

In [323]:
a = 4 # primo integer
b = 5 # secondo integer
c = a * b # Esegue la moltiplicazione

print(f"La moltiplicazione di {a} e {b} è:")
print(c)
print("Il tipo di dato della moltiplicazione infatti è:")
print(type(c))

La moltiplicazione di 8 e 2 è:
16
Il tipo di dato della moltiplicazione infatti è:
<class 'int'>

##### ESEMPIO: POTENZA

Questo codice è un esempio di calcolo della potenza di un numero (variabile integer a) calcolato alla seconda (perchè è il valore della variabile integer b)

In [324]:
a = 8 # primo integer
b = 2 # secondo integer
c = a ** b # Esegue la potenza

print(f"La potenza di {a} e {b} è:")
print(c)
print("Il tipo di dato della potenza infatti è:")
print(type(c))

La potenza di 8 e 2 è:
64
Il tipo di dato della potenza infatti è:
<class 'int'>

#### I FLOAT

I float (float) definiscono i valori di variabili corrispondenti a dei numeri con la virgola. Con i float si possono eseguire operazioni aritmetiche di base come la somma, la differenza, il prodotto, la divisione, la potenza ma con i numeri decimali

In [325]:
a = 12.3 # Valore float 
print(a)
print("Il tipo di dato infatti è:")
print(type(a))

12.3
Il tipo di dato infatti è:
<class 'float'>

##### ESEMPIO: SOMMA

Questo codice è un esempio di somma di due numeri reali (due variabili con valori float)

In [326]:
a = 10.2 # il primo valore è un flot
b = 8.2 # il secondo valore è un flot
d = 3 # il terzo valore è un integer

c = a + b # Si sommano i due float
e = a + d # Si sommano un float con un int, il risultato da SEMPRE un float
print(f"La somma di {a} e {b} è:")
print(c)
print("Il tipo di dato infatti è:")
print(type(c))
print(f"La somma di {a} e {d} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))

La somma di 10.2 e 8.2 è:
18.4
Il tipo di dato infatti è:
<class 'float'>
La somma di 10.2 e 3 è:
13.2
Il tipo di dato infatti è:
<class 'float'>

##### ESEMPIO: DIFFERENZA

Questo codice è un esempio di differenza di due numeri reali (due variabili con valori float)

In [15]:
# Definizione delle variabili
a = 10.2   # Il primo valore è un float
b = 8.2    # Il secondo valore è un float
d = 3      # Il terzo valore è un integer

# Calcolo delle differenze
c = a - b  # Sottrazione di due float
e = a - d  # Sottrazione di un float e un integer (il risultato è sempre un float)

# Stampa dei risultati
print(f"La differenza tra {a} e {b} è: {c}")
print(f"Il tipo di dato di {c} è: {type(c)}")

print(f"La differenza tra {a} e {d} è: {e}")
print(f"Il tipo di dato di {e} è: {type(e)}")

La differenza tra 10.2 e 8.2 è: 2.0
Il tipo di dato di 2.0 è: <class 'float'>
La differenza tra 10.2 e 3 è: 7.199999999999999
Il tipo di dato di 7.199999999999999 è: <class 'float'>

##### ESEMPIO: DIVISIONE

Questo codice è un esempio di divisione di due numeri reali (due variabili con valori float)

In [328]:
a = 10.2 # il primo valore è un flot
b = 8.2 # il secondo valore è un flot
d = 3 # il terzo valore è un integer

c = a / b # Si esegue la divisione normale
c2 = a // b
e = a / d # Si esegue comunque la divisione normale, con la divisione con i float la doppia barra non vale, ma approsima per difetto il risultato
e2 = a // d

print(f"La divisione con una barra di {a} e {b} è:")
print(c)
print("Il tipo di dato infatti è")
print(type(c))
print(f"La divisione con due barre di {a} e {b} è:")
print(c2)
print("Il tipo di dato infatti è")
print(type(c2))
print(f"La divisione con una barra di {a} e {d} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))
print(f"La divisione con due barre di {a} e {d} è:")
print(e2)
print("Il tipo di dato infatti è:")
print(type(e2))

La divisione con una barra di 10.2 e 8.2 è:
1.2439024390243902
Il tipo di dato infatti è
<class 'float'>
La divisione con due barre di 10.2 e 8.2 è:
1.0
Il tipo di dato infatti è
<class 'float'>
La divisione con una barra di 10.2 e 3 è:
3.4
Il tipo di dato infatti è:
<class 'float'>
La divisione con due barre di 10.2 e 3 è:
3.0
Il tipo di dato infatti è:
<class 'float'>

##### ESEMPIO: MOLTIPLICAZIONE

Questo codice è un esempio di prodotto di due numeri reali (due variabili con valori float)

In [14]:
# Definizione delle variabili
a = 10.2   # Il primo valore è un float
b = 8.2    # Il secondo valore è un float
d = 5      # Il terzo valore è un integer

# Calcolo delle moltiplicazioni
c = a * b  # Moltiplicazione di due float
e = a * d  # Moltiplicazione di un float e un integer (risultato sarà un float)

# Stampa dei risultati
print(f"La moltiplicazione di {a} e {b} è: {c}")
print(f"Il tipo di dato di {c} è: {type(c)}")

print(f"La moltiplicazione di {a} e {d} è: {e}")
print(f"Il tipo di dato di {e} è: {type(e)}")

La moltiplicazione di 10.2 e 8.2 è: 83.63999999999999
Il tipo di dato di 83.63999999999999 è: <class 'float'>
La moltiplicazione di 10.2 e 5 è: 51.0
Il tipo di dato di 51.0 è: <class 'float'>

##### ESEMPIO: POTENZA

Questo codice è un esempio di calcolo della potenza di un numero (variabile float a) calcolato alla seconda (perchè è il valore della variabile float b)

In [330]:
a = 9.1 # il primo valore è un flot
b = 2.3 # il secondo valore è un flot
d = 3 # il terzo valore è un integer

c = a**b # Si esegue la potenza 
e = a**d # Si esegue la potenza (non cambia se c'è un int, il risultato sarà sempre un float)

print(f"La potenza di {a} e {b} è:")
print(c)
print("Il tipo di dato infatti è:")
print(type(c))
print(f"La differenza di {a} e {d} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))

La potenza di 9.1 e 2.3 è:
160.61836559414905
Il tipo di dato infatti è:
<class 'float'>
La differenza di 9.1 e 3 è:
753.5709999999999
Il tipo di dato infatti è:
<class 'float'>

#### I BOOLEANI

I booleani (bool) definiscono i valori di variabili corrispondenti a dei booleani, cioè a True o False (Vero o Falso). Con i booleani possiamo eseguire operazioni logiche di base come l'and, l'or e il not.

In [331]:
a = True # Valore booleano positivo
b = False # Valore booleano negativo
print(a)
print("Il tipo di dato infatti è:")
print(type(a))
print(b)
print("Il tipo di dato infatti è:")
print(type(b))

True
Il tipo di dato infatti è:
<class 'bool'>
False
Il tipo di dato infatti è:
<class 'bool'>

#### I COMPLESSI (COMPLEX)

I complessi (complex) definiscono i valori di variabili corrispondenti a dei numeri complessi. Con i complessi possiamo eseguire operazioni aritmetiche di base per numeri complessi come la somma, la differenza, il prodotto e la divisione.

In [335]:
# Il numero a sinistra del più (3) si chiama parte reale
# Il numero a destra del più (1j*3) si chiama parte immaginaria

# I numeri complessi vengono definiti qui sotto
a = 3 + 1j*3 # Per creare una variabile complessa bisogna sommare un numero (parte reale) ad una parte immaginaria (valore di j)

print("Il risultato di 3 + 1j*3 è:")
print(a)
print(f"Il tipo di dato infatti è: ")
print(type(a))

Il risultato di 3 + 1j*3 è:
(3+3j)
Il tipo di dato infatti è:
<class 'complex'>

##### ESEMPIO: SOMMA

In [336]:
a = 3 + 1j*3 # prima variabile di tipo complex
b = 2 + 1j*2 # seconda variabile di tipo complex
c = 3.0 # terza variabile di tipo float

d = a + b # Si sommano due complessi (e il risultato è sempre un complesso)
e = a + c # Si sommano un float con un complesso (e il risultato è sempre un complesso)

print(f"La somma di {a} e {b} è:")
print(d)
print("Il tipo di dato infatti è:")
print(type(d))
print(f"La somma di {a} e {c} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))

La somma di (3+3j) e (2+2j) è:
(5+5j)
Il tipo di dato infatti è:
<class 'complex'>
La somma di (3+3j) e 3.0 è:
(6+3j)
Il tipo di dato infatti è:
<class 'complex'>

##### ESEMPIO: DIFFERENZA

In [13]:
# Definizione delle variabili
a = 3 - 3j   # Prima variabile di tipo complex
b = 2 - 2j   # Seconda variabile di tipo complex
c = 3.0      # Terza variabile di tipo float

# Calcolo delle differenze
d = a - b    # Sottrazione di due numeri complessi
e = a - c    # Sottrazione di un numero complesso e un float

# Stampa dei risultati
print(f"La differenza tra {a} e {b} è: {d}")
print(f"Il tipo di dato di {d} è: {type(d)}")

print(f"La differenza tra {a} e {c} è: {e}")
print(f"Il tipo di dato di {e} è: {type(e)}")

La differenza tra (3-3j) e (2-2j) è: (1-1j)
Il tipo di dato di (1-1j) è: <class 'complex'>
La differenza tra (3-3j) e 3.0 è: -3j
Il tipo di dato di -3j è: <class 'complex'>

##### ESEMPIO: DIVISIONE

In [338]:
a = 3 + 1j*3 # prima variabile complessa
b = 2 + 1j*2 # seconda variabile complessa
c = 3.0 # terza variabile float

d = a / b # Si dividono due complessi (e il risultato è sempre un complesso)
e = a / c # Si dividono un float con un complesso 

print(f"La divisione di {a} e {b} è:")
print(d)
print("Il tipo di dato infatti è:")
print(type(d))
print(f"La divisione di {a} e {c} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))

La divisione di (3+3j) e (2+2j) è:
(1.5+0j)
Il tipo di dato infatti è:
<class 'complex'>
La divisione di (3+3j) e 3.0 è:
(1+1j)
Il tipo di dato infatti è:
<class 'complex'>

##### ESEMPIO: MOLTIPLICAZIONE

In [339]:
a = 3 - 1j*3 # prima variabile di tipo complex
b = 2 - 1j*2 # seconda variabile di tipo complex
c = 3.0 # terza variabile di tipo float

d = a * b # Si moltiplicano due complessi (e il risultato è solo la parte immaginaria)
e = a * c # Si moltiplicano un float con un complesso (e il risultato è sempre un complesso)

print(f"La moltiplicazione di {a} e {b} è:")
print(d)
print("Il tipo di dato infatti è:")
print(type(d))
print(f"La moltiplicazione di {a} e {c} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))

La moltiplicazione di (3-3j) e (2-2j) è:
-12j
Il tipo di dato infatti è:
<class 'complex'>
La moltiplicazione di (3-3j) e 3.0 è:
(9-9j)
Il tipo di dato infatti è:
<class 'complex'>

##### ESEMPIO: POTENZA

In [340]:
a = 3 - 1j*3 # prima variabile di tipo complex
b = 2 - 1j*2 # seconda variabile di tipo complex
c = 3.0 # terza variabile di tipo float

d = a ** b # Si moltiplicano due complessi (e il risultato è solo la parte immaginaria)
e = a ** c # Si moltiplicano un float con un complesso (e il risultato è sempre un complesso)

print(f"La moltiplicazione di {a} e {b} è:")
print(d)
print("Il tipo di dato infatti è:")
print(type(d))
print(f"La moltiplicazione di {a} e {c} è:")
print(e)
print("Il tipo di dato infatti è:")
print(type(e))

La moltiplicazione di (3-3j) e (2-2j) è:
(-0.9301698201642012+3.6243749286074007j)
Il tipo di dato infatti è:
<class 'complex'>
La moltiplicazione di (3-3j) e 3.0 è:
(-54-54j)
Il tipo di dato infatti è:
<class 'complex'>

## I TIPI DI DATI NON SEMPLICI (LE SEQUENZE)

Le sequenze sono i tipi di dati più complessi, cioè più strutturati rispetto a quelli semplici, e contengono tipi di dati semplici mantenendo un ordine (ad eccezione della stringa, poichè definisce una parola o frase con una sequenza di caratteri).

Le sequenze si dividono in mutabili e immutabili. La differenza nel fatto che le mutabili sono sequenze che possono cambiare dopo essere state create, invece le sequenze immutabili sono sequenze che possono cambiare dopo essere state create.

Le sequenze mutabili sono:
- Le liste (list)
- I dizionari (dict)
- Gli insiemi (set)
- I file (file)

### LE SEQUENZE

#### LE LISTE

In [342]:
lista_numerica = [7, 12, 18, 33, 5, 44, 88, 99, 112]
print(lista_numerica)

[7, 12, 18, 33, 5, 44, 88, 99, 112]

In [4]:
lista_con_caratteri = ["a","c","q","k","ciao"]
print(lista_con_caratteri)

['a', 'c', 'q', 'k', 'ciao']

In [5]:
lista_mista = ["12","3","5", 12, 18, 33, 5, 44,"ciao"]
print(lista_mista)

['12', '3', '5', 12, 18, 33, 5, 44, 'ciao']

In [345]:
lista_di_una_lista = ["12",["3",["5", [12, 18], 33], 5, 44]]
print(lista_di_una_lista)

['12', ['3', ['5', [12, 18], 33], 5, 44]]

In [346]:
lista_numerica.append(1012)
print(lista_numerica)

[7, 12, 18, 33, 5, 44, 88, 99, 112, 1012]

In [6]:
lista_con_caratteri.append("Python")
print(lista_con_caratteri)

['a', 'c', 'q', 'k', 'ciao', 'Python']

In [348]:
lista_numerica.remove(112) # Rimuove il singolo numero all'interno della lista (solo se è veramente presente)
print(lista_numerica)

[7, 12, 18, 33, 5, 44, 88, 99, 1012]

#### I DIZIONARI

In [10]:
dizionario_cibo_calorie = {
    "pizza": 285, # La virgola è fondamentale perchè serve ad indicare che c'è un altra key
    "hamburger": 250,
    "insalata": 100,
    "pasta": 158,
    "pollo arrosto": 195,
    "riso": 130,
    "sushi": 374,
    "lasagna": 336,
    "fragole": 32,
    "gelato": 207,
    "panino": 320,
    "patatine fritte": 365,
    "uva": 69,
    "cioccolato": 546,
    "yogurt": 61,
    "spaghetti": 131,
    "pesce al vapore": 95,
    "muffin": 444,
    "cereali": 363,
    "torta al cioccolato": 237
}

In [12]:
print(dizionario_cibo_calorie) # Come output questo a mio parere è più difficile da capire, meglio quello sopra

{'pizza': 285, 'hamburger': 250, 'insalata': 100, 'pasta': 158, 'pollo arrosto': 195, 'riso': 130, 'sushi': 374, 'lasagna': 336, 'fragole': 32, 'gelato': 207, 'panino': 320, 'patatine fritte': 365, 'uva': 69, 'cioccolato': 546, 'yogurt': 61, 'spaghetti': 131, 'pesce al vapore': 95, 'muffin': 444, 'cereali': 363, 'torta al cioccolato': 237}

### LE SEQUENZE IMMMUTABILI

Le sequenze immutabili sono:
- Le stringhe (str)
- Le tuple (tuple)
- Gli insiemi immutabili (frozenset)

#### LE STRINGHE

In [357]:
stringa = "Ciao mi chiamo Gabriele"

In [368]:
stringa1 = "Ciao mi chiamo Gabriele"
stringa2 = "e ho 15 anni"
stringa_concatenata = stringa1 + " " + stringa2 
print(stringa_concatenata)

Ciao mi chiamo Gabriele e ho 15 anni

#### LE TUPLE

In [361]:
tupla = (1, 2, 3)
print(tupla)

(1, 2, 3)

In [362]:
tupla = (1, 2, 3)
primo_elemento = tupla[0]
secondo_elemento = tupla[1]
print(tupla)

(1, 2, 3)

In [363]:
tupla = (1, 2, 3, 4, 5)
lunghezza = len(tupla)
print(tupla)

(1, 2, 3, 4, 5)